#footer {
  background: $very-dark-blue;
  padding: 1.875rem 0;

  .wrapper {
    justify-content: space-between;

    @media screen and (max-width: 48rem) {
      flex-direction: column;
      justify-content: center;
      gap: 1.875rem;
    }

    .footer__navigation {
      ul {
        display: flex;
        align-items: center;
        gap: 3.125rem;

        @media screen and (max-width: 62rem) {
          gap: 1.5625rem;
        }

        @media screen and (max-width: 48rem) {
          flex-direction: column;
          gap: 1.5625rem;
        }

        a {
          text-transform: uppercase;
          color: #fff;
          transition: 0.2s ease-in-out;

          @media screen and (max-width: 62rem) {
            font-size: 0.875rem;
          }

          &:hover {
            color: $soft-red;
          }
        }
      }
    }

    .footer__social {
      display: flex;
      align-items: center;
      gap: 1.875rem;

      @media screen and (max-width: 62rem) {
        gap: 1.25rem;
      }

      i {
        font-size: 2rem;
        color: #fff;
        transition: 0.2s ease-in-out;

        @media screen and (max-width: 62rem) {
          font-size: 1.25rem;
        }

        @media screen and (max-width: 48rem) {
          font-size: 1.5rem;
        }
    
        @media screen and (max-width: 36rem) {
          font-size: 1.25rem;
        }

        &:hover {
          color: $soft-red;
        }
      }
    }
  }
}
